<template>
  <div class="flex page-container space-x-2">
    <span :class="[basePageClasses, 'text-gray-200 border-gray-200 hover:text-black hover:border-black']">
      <Icon class="w-6 h-6" name="chevron-left" />
    </span>
    <span
      v-for="pageNumber in totalPages"
      :key="pageNumber"
      :class="[
        basePageClasses,
        {
          'text-primary-default border-primary-default pointer-events-none': pageNumber === localPage,
          'text-black border-gray-200 hover:border-gray-black': pageNumber !== localPage,
        },
      ]"
      @click="updatePage(pageNumber)"
      v-text="pageNumber"
    />
    <span :class="[basePageClasses, 'text-gray-200 border-gray-200 hover:text-black hover:border-black']">
      <Icon class="w-6 h-6" name="chevron-right" />
    </span>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import Icon from '@/components/icon/icon.vue'
import usePagination from '../../composables/usePagination'

export default defineComponent({
  components: {
    Icon,
  },
  props: {
    page: {
      type: String,
      default: '',
    },
    totalPages: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    const localPage = ref(props.page)
    const { changePage } = usePagination(localPage)
    const basePageClasses =
      'flex items-center justify-center page w-8 h-8 text-sm leading-5 border font-bold rounded cursor-pointer'

    const updatePage = pageNumber => {
      changePage(pageNumber)

      emit('update:page', pageNumber)
    }

    return {
      localPage,
      updatePage,
      basePageClasses,
    }
  },
})
</script>
