<template>
  <div
    :class="[containerClasses, stateClasses, sizeClasses]"
    tabindex="1"
    @mouseover="hover = true"
    @mouseout="hover = false"
    @focus="focus = true"
    @blur="focus = false"
  >
    <Icon v-if="hasIcon" :name="iconName" :class="[iconClasses, iconStateClasses]" />
    <div :class="wrapperClasses">
      <label v-if="label && !filled" :class="[labelClasses, labelStateClasses]" :for="id" v-text="label" />
      <input
        v-bind="$attrs"
        :id="id"
        :value="value"
        :class="inputClasses"
        :type="type"
        placeholder=""
        :disabled="disabled"
        :readonly="readOnly"
        :autocomplete="false"
        :required="required"
        @focus="focus = true"
        @blur="focus = false"
        @input="updateInput"
      />
    </div>
    <Icon v-if="filled" name="close" :class="[actionClasses, actionStateClasses]" role="button" @click="clearInput" />
  </div>
</template>

<script>
import { defineComponent, computed } from 'vue'
import useInput from '@/composables/useInput'
import { states, sizes } from '@/types/input-types'
import Icon from '@/components/icon/icon.vue'

export default defineComponent({
  components: {
    Icon,
  },
  props: {
    readOnly: {
      type: Boolean,
      default: false,
    },
    state: {
      type: String,
      default: states.DEFAULT,
      validator(state) {
        const { DEFAULT } = states

        return [DEFAULT].includes(state)
      },
    },
    label: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    iconName: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: sizes.MEDIUM,
      validator(size) {
        const { MEDIUM } = sizes

        return [MEDIUM].includes(size)
      },
    },
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const {
      id,
      value,
      hover,
      focus,
      filled,
      labelClasses,
      labelStateClasses,
      containerClasses,
      stateClasses,
      sizeClasses,
      inputClasses,
      iconClasses,
      iconStateClasses,
      actionClasses,
      actionStateClasses,
      wrapperClasses,
    } = useInput(props)

    const hasIcon = computed(() => {
      return !!props.iconName
    })

    const clearInput = () => {
      value.value = ''
      focus.value = true
      emit('update:modelValue', '')
    }

    const updateInput = event => {
      value.value = event.target.value
      emit('update:modelValue', event.target.value)
    }

    return {
      id,
      value,
      hover,
      focus,
      filled,
      hasIcon,
      updateInput,
      labelClasses,
      labelStateClasses,
      containerClasses,
      inputClasses,
      iconClasses,
      iconStateClasses,
      actionClasses,
      actionStateClasses,
      stateClasses,
      sizeClasses,
      wrapperClasses,
      clearInput,
    }
  },
})
</script>
