<template>
  <span class="fixed right-4 xl:right-6 bottom-4 xl:bottom-6">
    <Button text="action" icon="only-icon" type="primary" icon-name="plus" radius="pill" />
  </span>
</template>

<script>
import { defineComponent } from 'vue'
import Button from './button.vue'

export default defineComponent({
  components: {
    Button,
  },
})
</script>
