<template>
  <component
    :is="tag"
    v-if="!isTagLink"
    v-wave
    v-bind="$attrs"
    :class="componentClasses"
    :disabled="disabled"
    :title="title"
    tabindex="1"
  >
    <Icon v-if="iconName" :class="iconClasses" :name="iconName" />
    <span v-if="text" :class="textClasses" v-text="text" />
  </component>
  <router-link
    v-else
    v-wave
    v-bind="$attrs"
    :to="to || { path: $attrs.href }"
    :class="componentClasses"
    :title="title"
    tabindex="1"
  >
    <Icon v-if="iconName" :class="iconClasses" :name="iconName" />
    <span v-if="text" :class="textClasses" v-text="text" />
  </router-link>
</template>

<script>
import { computed, defineComponent } from 'vue'
import classNames from 'classnames'
import { sizes, types, icons, radiuses } from '@/types/button-types'
import useButtonClasses from '@/composables/useButtonClasses'
import Icon from '@/components/icon/icon.vue'

export default defineComponent({
  components: {
    Icon,
  },
  props: {
    size: {
      type: String,
      default: sizes.MEDIUM,
      validator(size) {
        const { MEDIUM, SMALL } = sizes

        return [MEDIUM, SMALL].includes(size)
      },
    },
    type: {
      type: String,
      default: types.PRIMARY,
      validator(type) {
        const { PRIMARY, OUTLINE_PRIMARY, TEXT, TEXT_PRIMARY } = types

        return [PRIMARY, OUTLINE_PRIMARY, TEXT, TEXT_PRIMARY].includes(type)
      },
    },
    icon: {
      type: String,
      default: icons.LEFT_ICON,
      validator(icon) {
        const { LEFT_ICON, RIGHT_ICON, ONLY_ICON } = icons

        return [LEFT_ICON, RIGHT_ICON, ONLY_ICON].includes(icon)
      },
    },
    iconName: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    radius: {
      type: String,
      default: radiuses.SEMI_ROUNDED,
      validator(radius) {
        const { SEMI_ROUNDED, PILL } = radiuses

        return [SEMI_ROUNDED, PILL].includes(radius)
      },
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tag: {
      type: String,
      default: 'button',
    },
    block: {
      type: Boolean,
      default: false,
    },
    to: {
      type: [String, Object],
      default: null,
    },
  },
  setup(props) {
    const { baseClasses, radiusClasses, sizeClasses, typeClasses } = useButtonClasses(props)

    const iconClasses = 'button-icon'
    const textClasses = 'button-text truncate'

    const isTagLink = computed(() => {
      return props.tag === 'a'
    })

    const onlyIcon = computed(() => {
      const { icon } = props
      const { ONLY_ICON } = icons

      return icon === ONLY_ICON
    })

    const validOnlyIcon = computed(() => {
      const { iconName, text } = props

      return iconName && (onlyIcon.value || !text)
    })

    const title = computed(() => {
      const { text } = props

      return (validOnlyIcon.value && text) || ''
    })

    const validWithIcon = computed(() => {
      const { iconName, text } = props

      return iconName && text && !onlyIcon.value
    })

    const componentClasses = computed(() => {
      const { block, disabled, icon } = props
      const { LEFT_ICON, RIGHT_ICON } = icons

      return classNames(baseClasses, sizeClasses.value, typeClasses.value, radiusClasses.value, {
        'button-with-icon': validWithIcon.value,
        'button-left-icon': icon === LEFT_ICON,
        'button-right-icon': icon === RIGHT_ICON,
        'button-only-icon flex-shrink-0': validOnlyIcon.value,
        'is-disabled': disabled,
        'button-block w-full': block,
      })
    })

    return {
      componentClasses,
      iconClasses,
      textClasses,
      isTagLink,
      title,
    }
  },
})
</script>

<style lang="scss">
.button {
  @apply inline-flex flex-nowrap items-center justify-center cursor-pointer;

  &:focus {
    @apply outline-none;
  }

  &.is-disabled,
  &:disabled {
    @apply pointer-events-none opacity-50;
  }

  &.button-only-icon {
    @apply px-0;

    .button-text {
      @apply sr-only m-0;
    }
  }

  &.button-with-icon.button-right-icon {
    @apply space-x-reverse flex-row-reverse;
  }

  &.button-medium {
    .button-text {
      @apply text-lg font-light leading-tight;
    }

    .button-icon {
      @apply w-6 h-6;
    }

    &.button-only-icon {
      @apply w-12.5;
    }
  }

  &.button-small {
    .button-text {
      @apply text-sm font-medium;
    }

    .button-icon {
      @apply w-6 h-6;
    }

    &.button-only-icon {
      @apply w-12.5;
    }
  }

  &.button-text,
  &.button-text-primary {
    @apply px-0;
  }
}
</style>
