<template>
  <article class="article flex flex-col">
    <div v-if="image" class="-mx-4 xl:mx-0 mb-4 xl:mb-6.25">
      <img class="article-image w-full h-70 xl:h-71.25 object-cover" width="973" height="285" :src="image" alt="" />
    </div>
    <h1
      v-if="title"
      class="article-title text-3.5xl xl:text-4xl font-bold border-b border-gray-300 pb-8 xl:pb-7.5 mb-8 xl:mb-7.5"
      v-text="title"
    />
    <template v-if="!editable">
      <div
        class="article-text text-base xl:text-lg leading-5.5 xl:leading-7.5 text-gray-800 text-opacity-60"
        v-html="oldText"
      />
      <footer class="article-actions mt-5 xl:mt-7.5">
        <Button text="Редактировать текст" type="text-primary" icon-name="edit" size="small" @click="onEdit" />
      </footer>
    </template>
    <template v-else>
      <textarea
        class="article-text text-lg text-black py-2 xl:py-5 px-4 xl:px-5 rounded-lg border border-gray-300"
        v-model="newText"
      />
      <footer class="article-actions mt-5 xl:mt-7.5 space-x-5 xl:space-x-7.5">
        <Button text="Сохранить изменения" type="primary" @click="onSave" :disabled="!changedText" />
        <Button text="Отменить" type="outline-primary" @click="onCancel" />
      </footer>
    </template>
  </article>
</template>

<script>
import { defineComponent, computed, ref, watchEffect } from 'vue'
import Button from '@/components/button/button.vue'

export default defineComponent({
  components: {
    Button,
  },
  props: {
    edit: {
      type: Boolean,
      default: false,
    },
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    text: {
      type: [String, Object],
      default: '',
    },
  },
  setup(props) {
    const editable = ref(props.edit)
    const oldText = ref(props.text)
    const newText = ref(props.text)

    watchEffect(() => {
      oldText.value = props.text
      newText.value = props.text
    })


    const changedText = computed(() => {
      return oldText.value.toString().localeCompare(newText.value.toLocaleString())
    })

    const onEdit = () => {
      editable.value = true
    }

    const onCancel = () => {
      newText.value = oldText.value
      editable.value = false
    }

    const onSave = () => {
      oldText.value = newText.value
      editable.value = false
    }

    return {
      editable,
      changedText,
      newText,
      oldText,
      onSave,
      onCancel,
      onEdit,
    }
  },
})
</script>
