<template>
  <div class="layout flex flex-col flex-nowrap mx-auto min-h-screen min-w-0 overflow-x-hidden">
    <main class="overflow-auto flex flex-col flex-auto" role="main">
      <Header :title="$route.meta?.title" />
      <div :class="['layout-content flex-auto flex flex-col', contentClass]">
        <slot></slot>
      </div>
      <Footer v-if="isDesktop" />
    </main>
  </div>
</template>

<script>
import { inject } from 'vue'
import Header from '@/components/header/header.vue'
import Footer from '@/components/footer/footer.vue'

export default {
  components: {
    Header,
    Footer,
  },
  props: {
    contentClass: {
      type: String,
      default: '',
    },
  },
  setup() {
    const isDesktop = inject('isDesktop')

    return {
      isDesktop,
    }
  },
}
</script>
