<template>
  <section class="comments-section" name="comments">
    <h3 v-if="title" class="comments-title text-xl xl:text-2xl leading-7 xl:leading-8 font-medium" v-text="title" />
    <div v-if="comments" class="comments-container xl:space-y-5 mt-4 xl:mt-7.5 pb-4 xl:pb-10">
      <CommentItem
        v-for="{ uuid, id, avatar, name, text } in comments"
        :key="uuid"
        :avatar="avatar"
        :name="name"
        :text="text"
        :to="{ path: `/comments/${id}` }"
      />
    </div>
    <p v-else class="text-lg leading-snug font-semibold mt-4 xl:mt-7.5 pb-4 xl:pb-10">Нет комментариев</p>
  </section>
</template>

<script>
import { useRoute } from 'vue-router'
import { defineComponent, reactive } from 'vue'
import CommentItem from './comment-item.vue'
import usePostСomments from '../../composables/usePostСomments'

export default defineComponent({
  components: {
    CommentItem,
  },
  props: {
    title: {
      type: String,
      default: 'Комментарии',
    },
  },
  setup() {
    const route = useRoute()
    const postId = route.params?.id
    const { comments } = usePostСomments({ postId })

    return {
      comments,
    }
  }
})
</script>
