<template>
  <router-link :to="to" class="flex-shrink-0 group block">
    <div class="flex px-4 py-2">
      <div class="flex-shrink-0" v-if="avatar">
        <img class="inline-block h-9 w-9 rounded-full" :src="avatar" alt="" />
      </div>
      <div class="ml-3 flex flex-col space-y-0 xl:space-y-2.5">
        <p class="text-lg leading-6 font-semibold" v-text="name" />
        <p class="text-base xl:text-lg leading-5.5 text-gray-800 text-opacity-60" v-text="text" />
      </div>
    </div>
  </router-link>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    avatar: {
      type: String,
      default: 'https://via.placeholder.com/36x36',
    },
    name: {
      type: String,
      default: 'Tom Cook',
      required: true,
    },
    text: {
      type: String,
      default: 'Коммент',
      required: true,
    },
    to: {
      type: [String, Object],
      default: null,
    },
  },
})
</script>
