<template>
  <component :is="IconSVG" v-bind="$attrs" :class="[baseClasses, nameClasses]" />
</template>

<script>
import { computed, defineComponent } from 'vue'
import classNames from 'classnames'
import { PlusIcon, XIcon } from '@heroicons/vue/outline'
import { IconPencil, IconSearch, IconPost, IconComment, IconChevronLeft, IconChevronRight } from './icons/index'

const icons = {
  edit: IconPencil,
  search: IconSearch,
  post: IconPost,
  plus: PlusIcon,
  comment: IconComment,
  close: XIcon,
  'chevron-left': IconChevronLeft,
  'chevron-right': IconChevronRight,
}

export default defineComponent({
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const nameClasses = computed(() => {
      const { name } = props

      return classNames({
        [`--${name}`]: !!name,
      })
    })

    const baseClasses = 'icon flex-shrink-0 fill-current'

    const IconSVG = computed(() => {
      const { name } = props

      return icons[name]
    })

    return {
      IconSVG,
      baseClasses,
      nameClasses,
    }
  },
})
</script>
