<template>
  <Container>
    <div class="pt-5.5" v-if="isDesktop" />
    <Posts />
  </Container>
  <ActionButton />
</template>

<script>
import { defineComponent, inject } from 'vue'
import Container from '@/components/container/container.vue'
import ActionButton from '@/components/button/action-button.vue'
import Icon from '@/components/icon/icon.vue'
import Posts from '@/components/post/posts.vue'

export default defineComponent({
  components: {
    Container,
    ActionButton,
    Posts,
  },
  setup(props) {
    const isDesktop = inject('isDesktop')

    return {
      isDesktop,
    }
  },
})
</script>
