<template>
  <header class="flex items-center justify-center h-screen">
    <Container>
      <h1 class="text-3xl font-bold leading-tight">Not Found</h1>
    </Container>
  </header>
</template>

<script>
import { defineComponent } from 'vue'
import Container from '@/components/container/container.vue'

export default defineComponent({
  components: {
    Container,
  },
})
</script>
