<template>
  <Container>
    <template v-if="post">
      <Article :image="post.image" :title="post.title" :text="post.text" />
      <SectionDivider />
      <Comments />
    </template>
    <p v-else class="text-lg leading-snug font-semibold mt-7.5 pb-10">Нет поста</p>
  </Container>
</template>

<script>
import { defineComponent } from 'vue'
import { useRoute } from 'vue-router'
import Container from '@/components/container/container.vue'
import SectionDivider from '@/components/section-divider/section-divider.vue'
import Article from '@/components/article/article.vue'
import Comments from '@/components/comment/comments.vue'
import usePost from '@/composables/usePost'

export default defineComponent({
  components: {
    Container,
    SectionDivider,
    Article,
    Comments,
  },
  setup(props) {
    const route = useRoute()
    const postId = route.params?.id
    const { post } = usePost({ postId })

    return {
      post,
      postId,
    }
  },
})
</script>
