<template>
  <div>
    <header v-if="!isDesktop && !hasBack" class="header header-mobile bg-white overflow-hidden">
      <Container class="flex flex-col py-2 space-y-4">
        <span v-if="title" class="text-3.5xl leading-9 font-bold truncate" v-text="title" />
        <Input label="Поиск" icon-name="search" size="small" v-model="searchQuery" />
      </Container>
    </header>
    <header v-if="!isDesktop && hasBack" class="header header-mobile bg-white overflow-hidden relative">
      <Container class="flex items-center py-2 h-11">
        <Button type="text-primary" icon-name="chevron-left" size="small" tag="a" :to="$router.options.history.state?.back" @click.stop="$router.back()" text="Назад" />
        <span v-if="title" class="text-lg leading-6 font-semibold absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2" v-text="title" />
      </Container>
    </header>
    <header v-if="isDesktop" class="header header-desktop bg-white overflow-hidden">
      <Container class="grid grid-cols-header items-center gap-x-6 h-24.5">
        <span
          ><router-link class="header-logo font-alt font-bold text-black font-xl select-none" to="/"
            >Logo</router-link
          ></span
        >
        <Input label="Поиск" icon-name="search" size="medium" v-model="searchQuery" />
        <div class="flex justify-end">
          <Button text="Посты" icon-name="post" type="text-primary" size="small" tag="a" to="/" />
        </div>
      </Container>
    </header>
  </div>
</template>

<script>
import { defineComponent, inject, computed } from 'vue'
import { useRouter } from 'vue-router'
import Input from '@/components/input/input.vue'
import Button from '@/components/button/button.vue'
import Container from '@/components/container/container.vue'
import { searchQuery } from '../../composables/useSearchedPosts'
import useInput from '../../composables/useInput'

export default defineComponent({
  components: {
    Input,
    Button,
    Container,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const isDesktop = inject('isDesktop')
    const screen = inject('screen')
    const router = useRouter()
    const { value } = useInput()

    const hasBack = computed(() => {
      return !!router.options.history.state.back
    })

    return {
      hasBack,
      isDesktop,
      screen,
      searchQuery,
    }
  },
})
</script>
