<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.84009 7.41L12.4201 12L7.84009 16.59L9.25009 18L15.2501 12L9.25009 6L7.84009 7.41Z" />
  </svg>
</template>
