<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.4374 2C17.0921 2 17.7197 2.26142 18.1781 2.72342L21.279 5.82432C21.7407 6.286 22.0001 6.91217 22.0001 7.56508C22.0001 8.21799 21.7407 8.84416 21.279 9.30584L9.95751 20.6238C9.25903 21.4295 8.2689 21.9245 7.1346 22.0023H2V21.0023L2.00325 16.7873C2.08844 15.7328 2.57867 14.7523 3.3265 14.0934L14.6954 2.72463C15.1564 2.26083 15.7834 2 16.4374 2ZM7.06397 20.0048C7.59819 19.967 8.09547 19.7184 8.49478 19.2616L16.0567 11.6997L12.3023 7.94518L4.69609 15.5496C4.29093 15.9079 4.04029 16.4092 3.99998 16.8678V20.0029L7.06397 20.0048ZM13.7167 6.53113L17.4709 10.2855L19.8648 7.89162C19.9514 7.80502 20 7.68756 20 7.56508C20 7.4426 19.9514 7.32514 19.8648 7.23854L16.7611 4.13486C16.6755 4.04855 16.5589 4 16.4373 4C16.3158 4 16.1992 4.04855 16.1136 4.13486L13.7167 6.53113Z"
    />
  </svg>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IconPencil',
})
</script>
