<template>
  <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1.716 8.823H6.83v5.115c0 .642.527 1.17 1.169 1.17s1.169-.528 1.169-1.17V8.823h5.115a1.168 1.168 0 100-2.338H9.17V1.37C9.169.73 8.642.201 8 .201S6.831.73 6.831 1.371v5.114H1.716a1.168 1.168 0 100 2.338z"
    />
  </svg>
</template>
