<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20 2H4C2.89543 2 2 2.89543 2 4V12C2 13.1046 2.89543 14 4 14H20C21.1046 14 22 13.1046 22 12V4C22 2.89543 21.1046 2 20 2ZM4 12V4H20V12H4ZM22 16V18H2V16H22ZM22 22V20H2V22H22Z"
    />
  </svg>
</template>
