<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.1599 7.41L11.5799 12L16.1599 16.59L14.7499 18L8.74991 12L14.7499 6L16.1599 7.41Z" />
  </svg>
</template>
