<template>
  <footer class="footer border-t border-gray-100">
    <Container class="container mx-auto px-4 xl:px-22.5 flex items-center h-22">
      <small class="footer-copy text-base font-alt">2021 copyright all rights reserved</small>
    </Container>
  </footer>
</template>

<script>
import { defineComponent } from 'vue'
import Container from '@/components/container/container.vue'

export default defineComponent({
  components: {
    Container,
  },
})
</script>
