<template>
  <div :class="containerClasses">
    <div :class="wrapperClasses">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import classNames from 'classnames'

export const sizes = {
  NORMAL: 'normal',
}

export default {
  props: {
    wrapperClass: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: sizes.NORMAL,
    },
    cols: {
      type: [Object, String, Number],
      default: '3',
    },
  },
  data() {
    const containerClasses = 'tale-container overflow-hidden'
    const wrapperBaseClasses = 'tale-wrapper overflow-y-auto h-full'

    return {
      containerClasses,
      wrapperBaseClasses,
    }
  },
  computed: {
    wrapperClasses() {
      const { wrapperBaseClasses, wrapperGridClasses, wrapperClass } = this

      return classNames(wrapperBaseClasses, wrapperGridClasses, wrapperClass)
    },
    wrapperGridClasses() {
      const { gridColsClasses, gapXClasses, gapYClasses } = this
      const gridBaseClasses = 'grid'

      return classNames(gridBaseClasses, gridColsClasses, gapXClasses, gapYClasses)
    },
    gridColsClasses() {
      const { cols } = this
      const responsive = typeof cols === 'object' && cols !== null

      if (responsive) {
        const { mobile, desktop } = cols

        return classNames({
          [`grid-cols-${mobile}`]: mobile,
          [`xl:grid-cols-${desktop}`]: desktop,
        })
      }

      return classNames({
        [`grid-cols-${cols}`]: cols,
      })
    },
    gapXClasses() {
      const { gapX } = this
      const responsive = typeof gapX === 'object' && gapX !== null

      if (responsive) {
        const { mobile, desktop } = gapX

        return classNames({
          [`gap-x-${mobile}`]: mobile,
          [`xl:gap-x-${desktop}`]: desktop,
        })
      }

      return classNames({
        [`gap-x-${gapX}`]: gapX,
      })
    },
    gapYClasses() {
      const { gapY } = this
      const responsive = typeof gapY === 'object' && gapY !== null

      if (responsive) {
        const { mobile, desktop } = gapY

        return classNames({
          [`gap-y-${mobile}`]: mobile,
          [`xl:gap-y-${desktop}`]: desktop,
        })
      }

      return classNames({
        [`gap-y-${gapY}`]: gapY,
      })
    },
    gapX() {
      const { size } = this
      const { NORMAL } = sizes

      if (size === NORMAL) {
        return { mobile: '4', desktop: '6' }
      }

      return { mobile: '4', desktop: '6' }
    },
    gapY() {
      const { size } = this
      const { NORMAL } = sizes

      if (size === NORMAL) {
        return { mobile: '4', desktop: '10' }
      }

      return { mobile: '4', desktop: '10' }
    },
  },
}
</script>

<style lang="scss">
.grid-cols-1 {
  grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr))
}

@screen xl {
  .xl\:grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
  }
}

.gap-x-4 {
  row-gap: 1rem;
}

.gap-x-6 {
  row-gap: 1.5rem;
}

.gap-x-10 {
  row-gap: 2.5rem;
}

.gap-y-4 {
  column-gap: 1rem;
}

.gap-y-6 {
  column-gap: 1.5rem;
}

.gap-y-10 {
  column-gap: 2.5rem;
}

@screen xl {
  .xl\:gap-x-4 {
    row-gap: 1rem;
  }

  .xl\:gap-x-6 {
    row-gap: 1.5rem;
  }

  .gap-x-10 {
    row-gap: 2.5rem;
  }

  .xl\:gap-y-4 {
    column-gap: 1rem;
  }

  .xl\:gap-y-6 {
    column-gap: 1.5rem;
  }

  .xl\:gap-y-10 {
    column-gap: 2.5rem;
  }
}
</style>
