<template>
  <article :class="componentClasses">
    <img v-if="image" :class="imageClasses" width="310" height="250" :src="image" alt="" @click="$router.push({ path: `/posts/${id}` })" />
    <div class="flex-1 flex flex-col">
      <h3 v-if="title" :class="titleClasses">
        <router-link class="text-black" :to="{ path: `/posts/${id}` }" v-text="title" />
      </h3>
      <p v-if="text" :class="textClasses" v-text="text" />
      <footer :class="actionsClasses">
        <router-link :class="actionClasses" :to="`/posts/${id}/#comments`">
          <Icon :class="actionIconClasses" name="comment" />
          <span :class="actionTextClasses">12</span>
        </router-link>
        <router-link :class="actionClasses" :to="`/posts/${id}/#edit`">
          <Icon :class="actionIconClasses" name="edit" />
        </router-link>
      </footer>
    </div>
  </article>
</template>

<script>
import { defineComponent } from 'vue'
import Icon from '@/components/icon/icon.vue'

export default defineComponent({
  components: {
    Icon,
  },
  props: {
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit...',
    },
    id: {
      type: [String, Number],
      default: 0,
    },
  },
  setup() {
    const componentClasses = 'post-card border-b xl:border flex xl:flex-col border-gray-200 xl:rounded-2.5xl'
    const imageClasses =
      'post-card-image w-1/2 xl:w-full h-50 xl:h-62.5 object-cover xl:rounded-t-2.5xl order-last xl:order-first self-end cursor-pointer'
    const titleClasses = 'post-card-title text-2xl xl:text-xl leading-7 mt-4 px-4 line-clamp-2'
    const textClasses =
      'post-text text-base leading-5.5 text-gray-800 text-opacity-60 mt-2 px-4 line-clamp-3 xl:line-clamp-2 flex-1'
    const actionsClasses = 'post-actions flex items-center mt-4 space-x-7.5 pb-3 px-4'
    const actionClasses = 'p-1 flex items-center space-x-2.5'
    const actionIconClasses = 'w-6 h-6 text-black'
    const actionTextClasses = 'text-gray-800 text-opacity-60 text-base'

    return {
      componentClasses,
      imageClasses,
      titleClasses,
      textClasses,
      actionsClasses,
      actionClasses,
      actionIconClasses,
      actionTextClasses,
    }
  },
})
</script>
