<template>
  <template v-if="localPosts">
    <Tale :cols="{ mobile: '1', desktop: '3' }" name="posts">
      <PostCard
        v-for="{ uuid, id, image, title, text } in localPosts"
        :id="id"
        :key="uuid"
        :image="image"
        :title="title"
        :text="text"
      />
    </Tale>
    <div v-show="!isDesktop" ref="refObserver" class="observer h-5" />
    <Pagination v-if="isDesktop" class="mt-10 pb-10" :total-pages="totalPages" :page="page" @update:page="updatePage" />
  </template>
  <p v-else class="text-lg leading-snug font-semibold mt-7.5 pb-10">Нет постов</p>
</template>

<script>
import { computed, defineComponent, ref, watchEffect, inject, onMounted } from 'vue'
import Tale from '@/components/tale/tale.vue'
import PostCard from './post-card.vue'
import Pagination from '@/components/pagination/pagination.vue'
import usePosts from '../../composables/usePosts'
import useSearchedPosts from '../../composables/useSearchedPosts'

export default defineComponent({
  components: {
    Tale,
    PostCard,
    Pagination,
  },
  setup(props) {
    const page = ref('1')
    const { posts, totalPages, fetching, loadMorePosts } = usePosts({ limit: 9, page })
    const { searchedPosts } = useSearchedPosts(posts)
    const isDesktop = inject('isDesktop')

    const localPosts = computed(() => {
      if (searchedPosts.value) {
        return searchedPosts.value
      }

      return posts.value
    })

    const refObserver = ref(null)

    const observerOptions = {
      rootMargin: '0px',
      threshold: 1.0,
    }

    const observerCallback = entries => {
      if (entries[0].isIntersecting) {
        loadMorePosts()
      }
    }

    const observer = new IntersectionObserver(observerCallback, observerOptions)

    onMounted(() => {
      observer.observe(refObserver.value)
    })

    watchEffect(() => {
      page.value && fetching()
    })

    const updatePage = async pageNumber => {
      page.value = pageNumber
    }

    return {
      isDesktop,
      page,
      localPosts,
      totalPages,
      fetching,
      updatePage,
      refObserver,
    }
  },
})
</script>
