<template>
  <Layout>
    <router-view />
  </Layout>
</template>
<script>
import { defineComponent, ref } from 'vue'
import useMq from '@/composables/useMq'
import Layout from '@/components/layout/layout.vue'

export default defineComponent({
  name: 'App',
  components: {
    Layout,
  },
  provide() {
    const { mq, isMobile, isTablet, isMobileOrTablet, isTabletOrDesktop, isDesktop, screen } = useMq()

    return {
      mq,
      isMobile,
      isTablet,
      isMobileOrTablet,
      isTabletOrDesktop,
      isDesktop,
      screen,
    }
  },
})
</script>
